# Byte-compiled / optimized / DLL files
*__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Environments
.env
.venv
env/
*venv/
ENV/
env.bak/
venv.bak/
fresno_venv/

# Cython debug symbols
cython_debug/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio 2015/2017 cache/options directory
.vs/

# Visual Studio code coverage results
*.coverage
*.coveragexml

# VS Code files for those working on multiple tools
.vscode/*
*.code-workspace

# Local History for Visual Studio Code
.history/

# Logfile(s)
*.log
*.sqlite3

# Config
config.yaml